@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Ласкаво просимо!</h1>
    <h4 class="display-7">Просимо пройти авторизацію для помвного функціоналу сайту</h4>
</div>
